body {
    background: url(../img/body_bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.logo_side {
    position: absolute;
    top: 30px;
    right: 80px;
}

.static .wrapper {
    .sidebar {
        position: static;
    }
    .main {
        margin-left: 80px;
    }
}
.wrapper  {
    width: 1170px;
    min-height: 500px;
    padding: 0px 0px 60px;
    float: left;
    background: url(../img/content_bg.png) repeat-y left;
    .sidebar {
    	width: 390px;
    	float: left;
    	position: fixed;
        text-align: center;
        .logo {
            display: block;
            margin: 100px auto;
        }
    	.content {
    		padding: 20px 49px 0px 57px;
    		ul {
    			list-style: none;
    			padding-left: 0px;
    			padding-bottom: 20px;
    			li {
    				text-align: center;
    				
                    border-bottom: 2px #2c3e50 solid;
    				/*background: url(../img/dash.gif) no-repeat center bottom;*/
    				a {
    					display: block;
                        padding: 16px 0px;
                        color: white;
    					font-family: $tablet;
    					font-size: 16px;
    					font-weight: bold;
    					text-decoration: none;
    					&:hover, &.active {
    						/*text-decoration: underline;*/
                            background: #2c3e50;
    					}
    				}
    				&:last-child {
    					border-bottom: none;
    				}
    			}
    		}
    	}


        .border {
            width: 370px;
            border: 10px white solid;
        }
        .ss-icon {
            text-align: center;
            padding: 30px 0px;
            a {
                display: inline-block;
                font-size: 24px;
                padding: 0px 20px;
                color: white;
                text-decoration: none;
            }
        }
        .copy {
            color: white;
            font-family: $tablet;
            font-size: 12px;
            text-align: center;
            line-height: 15px;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }


    }
    .main {
    	padding: 60px 0px;
    	width: 616px;
    	float: left;
    	/*margin-left: 68px;*/
    	margin-left: 470px;
    	color: white;
    	h1 {
				font-family: $tablet;
				font-size: 40px;
				font-weight: 600;
    	}
    	h2 {
				font-family: $tablet;
				font-weight: 600;
				font-size: 24px;
    	}
    	p{
				font-family: $tablet;
				font-size: 18px;
				font-weight: normal;
    	}
    	.frame {
    		border: 10px white solid;
    	}
    }
}
